<h1><%= @task.title %></h1>

<br>
<%= link_to 'Edit this task', edit_task_path(@task) %>

<h3><%= @task.details %></h3>

<% if @task.completed == true %>
<h4><%= "This task is completed."%></h4>
<% else %>
<h4><%= "This task is not completed yet." %></h4>
<% end %>

<br>
<%= link_to 'Back to tasks', tasks_path %>


